* {
  margin: 0;
  padding: 0;
  --p-link: #3c3c3c;
  --button-background: #8ee5d1;
  font-family: Helvetica, sans-serif;
}
ul > li > a:hover {
  cursor: pointer;
}

.main {
  padding-top: 20px;
  margin: 0 40px;
  /* border: 1px solid black; */
  height: 500px;
}

nav {
  height: 100px;
  /* border: 1px solid black; */
}
.nav-1 ul,
.nav-2 ul {
  list-style-type: none;
}

.nav-1 ul li,
.nav-2 ul li {
  display: inline-block;
  line-height: 30px;
  margin-left: 25px;
  color: var(--p-link);
}
.nav-2 ul li {
  margin-right: 5px;
}
.nav-2 {
  float: right;
}

.nav-1,
nav h1 {
  float: left;
}

.custom-button {
  background-color: var(--button-background);
  border-radius: 30px;
  padding: 10px 25px;
  border: none;
}
.showcase {
  width: 100%;
  display: flex;
  justify-content: center;
}

.showcase h1 {
  font-size: 2em;
}

.s-left {
  align-self: center;
  flex-grow: 1;
}
.s-right {
  align-self: flex-end;
  flex-grow: 2;
}
button:hover {
  cursor: pointer;
}

.showcase img {
  min-width: 40%;
  max-width: 60%;
}
@media screen and (max-width: 640px) {
  .nav-1 {
    display: none;
  }
  .showcase {
    flex-direction: column;
    text-align: center;
  }
  .showcase img {
    max-width: 100%;
    margin-top: 30px;
  }
}
